---
import type { SanityDocument } from "@sanity/client";
import {
  createImageUrlBuilder,
  type SanityImageSource,
} from "@sanity/image-url";
import { sanityClient } from "sanity:client";
import { formatDateLong } from "../../utils/date";
import PortableText from "../../components/sanity/PortableText.astro";
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";

const APPEARANCE_QUERY = `*[_type == "appearance" && slug.current == $slug][0]{
  ...,
  tags[]->{name, slug}
}`;
const appearance = await sanityClient.fetch<SanityDocument>(APPEARANCE_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "appearance" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const appearanceImageUrl = appearance.image
  ? urlFor(appearance.image)?.width(550).height(310).url()
  : null;
---

<Layout title={appearance.title} description={appearance.excerpt}>
  <div class="space-y-8 px-2">
    <a href="/appearances" class="inline-block">&larr; Back to appearances</a>
    <main class="prose prose-neutral dark:prose-invert">
      {appearanceImageUrl && <img src={appearanceImageUrl} alt={appearance.title} />}
      <header>
        <h1 class="mb-1">{appearance.title}</h1>
        <span>{formatDateLong(appearance.publishedAt)}</span>
      </header>
      {Array.isArray(appearance.description) && <PortableText portableText={appearance.description} />}
      {Array.isArray(appearance.tags) && appearance.tags.length > 0 && (
        <div class="flex flex-wrap gap-2 mt-8">
          {appearance.tags.map((tag) => (
            <Tag label={tag.name} />
          ))}
        </div>
      )}
    </main>
  </div>
</Layout>

