---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import { socialLinks } from "../lib/social-links";
import LatestItemsSection from "../components/LatestItemsSection.astro";

const LATEST_POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...3]{_id, title, slug, publishedAt}`;

const latestPosts =
  await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);

const latestProjects =
  await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);

const latestEngagements =
  await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);
---

<Layout
  title="Ryan Furrer — Design Engineer"
  description="Online home of Ryan Furrer"
>
  <div class="space-y-16">
    <header class="space-y-4 px-2">
      <div>
        <h1 class="text-foreground">Ryan Furrer</h1>
        <p>Design Engineer at Pragma</p>
      </div>
      <div>
        <p>
          Irure aute elit nulla ea esse mollit laborum minim irure minim irure
          Lorem culpa enim. Lorem amet fugiat ex officia commodo commodo sit in
          <a href="#">reprehenderit</a> qui excepteur quis. Eu sunt dolor esse ea
          consectetur Lorem eiusmod. Ea deserunt laboris qui sunt incididunt occaecat
          irure sint dolore labore reprehenderit voluptate. Nostrud voluptate reprehenderit
          eiusmod dolor. Adipisicing velit laboris consequat elit quis Lorem qui elit
          proident. Laboris nulla velit tempor fugiat nisi cupidatat sunt reprehenderit
          Lorem pariatur commodo. Aliqua occaecat ex consequat qui dolor.
        </p>
      </div>
      <div class="space-y-3">
        <p>Find me elsewhere</p>
        <ul class="space-y-2">
          {
            socialLinks.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </header>
    <main class="space-y-16">
      <LatestItemsSection
        title="Writing"
        items={latestPosts}
        basePath="/writing"
      />
      <LatestItemsSection
        title="Projects"
        items={latestProjects}
        basePath="/projects"
      />
      <LatestItemsSection
        title="Engagements"
        items={latestEngagements}
        basePath="/engagements"
      />
    </main>
  </div>
</Layout>
