---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import { socialLinks } from "../lib/social-links";
import LatestItemsSection from "../components/LatestItemsSection.astro";
import Tag from "../components/Tag.astro";

const LATEST_POSTS_QUERY = `*[
  _type == "post"
  && defined(slug.current)
]|order(publishedAt desc)[0...3]{_id, title, slug, publishedAt}`;

const LATEST_PROJECTS_QUERY = `*[
  _type == "project"
  && defined(slug.current)
]|order(publishedAt desc)[0...3]{_id, title, slug, publishedAt, techStack}`;

const LATEST_APPEARANCES_QUERY = `*[
  _type == "appearance"
  && defined(slug.current)
]|order(publishedAt desc)[0...3]{_id, title, slug, publishedAt}`;

const latestPosts =
  await sanityClient.fetch<SanityDocument[]>(LATEST_POSTS_QUERY);

const latestProjects = await sanityClient.fetch<SanityDocument[]>(
  LATEST_PROJECTS_QUERY,
);

const latestAppearances = await sanityClient.fetch<SanityDocument[]>(
  LATEST_APPEARANCES_QUERY,
);
---

<Layout
  title="Ryan Furrer — Design Engineer"
  description="Online home of Ryan Furrer"
>
  <div class="space-y-16">
    <header class="space-y-4 md:px-2">
      <div>
        <h1 class="text-foreground">Ryan Furrer</h1>
        <p>Design Engineer at Pragma</p>
      </div>
      <div class="space-y-4">
        <p>
          I'm a design engineer at Pragma, a software development agency. I'm a
          big fan of design systems and frontend development. I'm also a big fan
          of the web platform and the web platform.
        </p>
        <a href="/about" class="inline-block">Learn more</a>
      </div>
      <div class="space-y-3">
        <p>Find me elsewhere</p>
        <ul class="space-y-2">
          {
            socialLinks.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </header>
    <main class="space-y-16">
      <LatestItemsSection
        title="Writing"
        items={latestPosts}
        basePath="/writing"
      />
      <LatestItemsSection
        title="Projects"
        items={latestProjects}
        basePath="/projects"
      />
      <LatestItemsSection
        title="Appearances"
        items={latestAppearances}
        basePath="/appearances"
      />
    </main>
  </div>
</Layout>
