---
import Link from "@/components/Link.astro";
import PortableText from "@/components/sanity/PortableText.astro";
import Layout from "@/layouts/Layout.astro";
import { formatDateLong } from "@/utils/date";
import type { SanityDocument } from "@sanity/client";
import {
  createImageUrlBuilder,
  type SanityImageSource,
} from "@sanity/image-url";
import { sanityClient } from "sanity:client";

const PROJECT_QUERY = `*[_type == "project" && slug.current == $slug][0]{
  ...,
  tags[]->{name, slug}
}`;
const project = await sanityClient.fetch<SanityDocument>(
  PROJECT_QUERY,
  Astro.params,
);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "project" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const projectImageUrl = project.headerImage
  ? urlFor(project.headerImage)?.width(550).height(310).url()
  : null;
---

<Layout title={project.title} description={project.description}>
  <div class="space-y-8 md:px-2">
    <Link href="/projects" class="inline-block">Back to projects</Link>
    <main class="prose prose-neutral dark:prose-invert">
      {projectImageUrl && <img src={projectImageUrl} alt={project.title} />}
      <header>
        <h1 class="mb-2">{project.title}</h1>
        {
          project.publishedAt && !project.updatedAt && (
            <span class="font-mono-custom font-medium">
              {formatDateLong(project.publishedAt)}
            </span>
          )
        }
        {
          project.updatedAt && (
            <div class="flex flex-col gap-y-1">
              <span class="font-mono-custom font-medium">
                Originally published: {formatDateLong(project.publishedAt)}
              </span>
              <span class="font-mono-custom w-fit bg-primary/30 font-medium text-foreground">
                Updated: {formatDateLong(project.updatedAt)}
              </span>
            </div>
          )
        }
      </header>
      {
        Array.isArray(project.description) && (
          <PortableText portableText={project.description} />
        )
      }
      <!-- {
        Array.isArray(project.tags) && project.tags.length > 0 && (
          <div class="mt-8 flex flex-wrap gap-2">
            {project.tags.map((tag) => (
              <Tag label={tag.name} />
            ))}
          </div>
        )
      } -->
    </main>
  </div>
</Layout>
