---
import type { SanityDocument } from "@sanity/client";
import {
  createImageUrlBuilder,
  type SanityImageSource,
} from "@sanity/image-url";
import { sanityClient } from "sanity:client";
import PortableText from "../../components/sanity/PortableText.astro";
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDateLong } from "../../utils/date";
import Link from "../../components/Link.astro";

const PROJECT_QUERY = `*[_type == "project" && slug.current == $slug][0]{
  ...,
  tags[]->{name, slug}
}`;
const project = await sanityClient.fetch<SanityDocument>(
  PROJECT_QUERY,
  Astro.params,
);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "project" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const projectImageUrl = project.image
  ? urlFor(project.image)?.width(550).height(310).url()
  : null;
---

<Layout title={project.title} description={project.excerpt}>
  <div class="space-y-8 md:pl-2">
    <Link href="/projects" class="inline-block">Back to projects</Link>
    <main class="prose prose-neutral dark:prose-invert">
      {projectImageUrl && <img src={projectImageUrl} alt={project.title} />}
      <header>
        <h1 class="mb-1">{project.title}</h1>
        <span>{formatDateLong(project.publishedAt)}</span>
      </header>
      {
        Array.isArray(project.description) && (
          <PortableText portableText={project.description} />
        )
      }
      {
        Array.isArray(project.tags) && project.tags.length > 0 && (
          <div class="mt-8 flex flex-wrap gap-2">
            {project.tags.map((tag) => (
              <Tag label={tag.name} />
            ))}
          </div>
        )
      }
    </main>
  </div>
</Layout>
