---
import type { SanityDocument } from "@sanity/client";
import {
  createImageUrlBuilder,
  type SanityImageSource,
} from "@sanity/image-url";
import { sanityClient } from "sanity:client";
import PortableText from "../../components/sanity/PortableText.astro";
import Layout from "../../layouts/Layout.astro";

const POST_QUERY = `*[_type == "post" && slug.current == $slug][0]`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "post" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const postImageUrl = post.image
  ? urlFor(post.image)?.width(550).height(310).url()
  : null;
---

<Layout title={post.title} description={post.excerpt}>
  <a href="/writing">&larr; Back to writing</a>
  <main class="prose prose-neutral dark:prose-invert">
    {postImageUrl && <img src={postImageUrl} alt={post.title} />}
    <h1>{post.title}</h1>
    <p>Published: {new Date(post.publishedAt).toLocaleDateString()}</p>
    {Array.isArray(post.body) && <PortableText portableText={post.body} />}
  </main>
</Layout>
