---
import Link from "@/components/Link.astro";
import PortableText from "@/components/sanity/PortableText.astro";
import Layout from "@/layouts/Layout.astro";
import { formatDateLong } from "@/utils/date";
import type { SanityDocument } from "@sanity/client";
import {
  createImageUrlBuilder,
  type SanityImageSource,
} from "@sanity/image-url";
import { sanityClient } from "sanity:client";

const POST_QUERY = `*[_type == "post" && slug.current == $slug][0]{
  ...,
  tags[]->{name, slug}
}`;
const post = await sanityClient.fetch<SanityDocument>(POST_QUERY, Astro.params);

export async function getStaticPaths(): Promise<{ params: { slug: string } }> {
  const SLUGS_QUERY = `*[_type == "post" && defined(slug.current)]{
    "params": {"slug": slug.current}
  }`;
  return await sanityClient.fetch(SLUGS_QUERY, Astro.params);
}

const { projectId, dataset } = sanityClient.config();
const urlFor = (source: SanityImageSource) =>
  projectId && dataset
    ? createImageUrlBuilder({ projectId, dataset }).image(source)
    : null;
const postImageUrl = post.headerImage
  ? urlFor(post.headerImage)?.width(550).height(310).url()
  : null;
---

<Layout title={post.title} description={post.description}>
  <div class="space-y-8 md:px-2">
    <Link href="/writing" class="inline-block">Back to writing</Link>
    <main class="prose prose-neutral dark:prose-invert">
      {postImageUrl && <img src={postImageUrl} alt={post.title} />}
      <header>
        <h1 class="mb-1">{post.title}</h1>
        {
          post.publishedAt && !post.updatedAt && (
            <span class="font-mono-custom font-medium">
              {formatDateLong(post.publishedAt)}
            </span>
          )
        }
        {
          post.updatedAt && (
            <div class="flex flex-col gap-y-1">
              <span class="font-mono-custom font-medium">
                Originally published: {formatDateLong(post.publishedAt)}
              </span>
              <span class="font-mono-custom w-fit bg-primary/30 font-medium text-foreground">
                Updated: {formatDateLong(post.updatedAt)}
              </span>
            </div>
          )
        }
      </header>
      {Array.isArray(post.body) && <PortableText portableText={post.body} />}
      <!-- {
        Array.isArray(post.tags) && post.tags.length > 0 && (
          <div class="mt-8 flex flex-wrap gap-2">
            {post.tags.map((tag) => (
              <Tag label={tag.name} />
            ))}
          </div>
        )
      } -->
    </main>
  </div>
</Layout>
